@tailwind base;
@tailwind components;
@tailwind utilities;

.font-title {
  font-family: 'Teko', sans-serif;
}

.dithered {
  height: 100%;
  width: 100%;
  background-image: url('../img/dithering.png');
  background-repeat: repeat-x;
}
